label {
	display: block;
	margin-top: 1.25em;
}

input, textarea {
	padding: 0.5rem 1rem;
	border: 1px solid transparent;
	border-image: linear-gradient(to bottom right, $gray-1, $gray-1 100%);
	border-image-slice: 1;
	background-color: #fff;
  	font-family: $serif;
  	font-size: 1.0625rem;
  	font-weight: $serif-normal;
	line-height: 1.5em;
	outline: none;
	margin: 0.3em 0;
	width: 100%;
	text-align: left;
	width: 100%;
	resize: none;
	transition: all 0.15s ease-in-out;
	&:focus,
	&:active,
	&:hover {
		border-image: linear-gradient(to bottom right, $primary-4, $secondary-4 100%);
		border-image-slice: 1;
	}
}

textarea {
	resize: vertical;
}

.button {
	display: block;
	outline: none;
	border: none;
	font-family: $sans;
	padding: 0;
	text-decoration: none;
	background-color: #fff;
}

@media (min-width: $phone) {
	input, textarea {
	  	font-size: 1.375rem;
	}
}