label {
	display: block;
	margin-top: 1.25em;
	font-family: $sans;
	text-transform: uppercase;
	font-weight: $sans-bold;
	color: $primary;
	letter-spacing: 0.08rem;
}

input, textarea {
	padding: 0.5rem 1rem;
	border: 1px solid $gray-5;
	background-color: #fff;
	font-family: $sans;
	font-size: 1.25rem; 
	line-height: 1.5em;
	outline: none;
	margin: 0.3em 0;
	width: 100%;
	text-align: left;
	width: 100%;
	resize: none;
	transition: border 0.15s ease-in-out, box-shadow 0.1s ease-out;
	&:focus,
	&:active,
	&:hover {
		border: 1px solid $primary;
	}
	&:focus,
	&:active {
		box-shadow: 0px 0px 5px 1px rgba(17,221,136,0.5);
	}
}

textarea {
	resize: vertical;
}

input[type="submit"].button, 
button.button, a#typeform-button {
	display: block;
	outline: none;
	font-size: 1rem;
	font-family: $sans;
	font-weight: $sans-bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.1rem;
	padding: 0.6rem 1rem;
	border: 3px solid $primary;
	color: $gray-90;
	background-color: #fff;
	transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
	&:hover,
	&:focus,
	&:active {
		color: #fff;
		background-color: $primary;
		cursor: pointer;
	}
}

input[type="submit"].button-text, 
button.button-text, 
a.button-text {
	display: block;
	outline: none;
	font-family: $sans;
	font-size: 1.25rem;
	letter-spacing: -0.003em;
	text-transform: capitalize;
	border: none;
	text-decoration: none;
	color: $primary;
	background-color: #fff;
	cursor: pointer;
}