header {
	background-color: #fff;
}

.header-content {
	padding: 9rem 0 3rem;
}

.header-title {
  font-size: 4.348rem;
  font-family: $ornamental;
  font-weight: normal;
  margin-bottom: 1rem;
  line-height: 1.25;
  letter-spacing: 0.1rem;
}

.header-description {
  line-height: 2rem;
}