header {
	width: 100%;
	background-color: $gray-90;
}

.header-text {
	width: 100%;
	padding: 6rem 2rem 8rem 2rem;
	margin: 0 auto;
	display: block;
}

@media (min-width: $phone) {
	.header-text {
		width: 80%;
	}
}