.site-wrapper {
	background-color: $gray-5;
	min-height: 100vh;
	min-width: 100vw;
	max-width: 90rem;
	margin: 0 auto;
	z-index: 1;
}

.body-wrapper {
	background-color: #fff;
	min-height: 100vh;
	width: 100vw;
	z-index: 2;
	overflow: hidden;
}

.ctnr-wide, .ctnr-golden {
	width: 100%;
	max-width: 85rem;
	padding-right: 2rem;
	padding-left: 2rem;
	margin: 0 auto;
}

@media (min-width: $phone) {
	.ctnr-wide {
		padding-right: 4rem;
		padding-left: 4rem;
	}

	.ctnr-golden {
		padding-right: 30%;
		padding-left: 4rem;
	}
}