.navigation {
	background-color: #fff;
	height: 3.75rem;
	border-bottom: 2px solid $primary;
}

.navigation-links {
	padding-top: 1rem;
}

.navigation-item {
	font-family: $condensed;
	font-size: 1.1rem;
	letter-spacing: 0.05rem;
	margin: 1rem 2rem 1rem 0;
}

.navigation-item#active {
	font-weight: $bold;
}