.section {
	margin-bottom: 4rem;
}

.section-creating, .section-inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
}

.section-project {
	margin-bottom: 2rem;
	width: 100%;
}

.section-input {
	width: 100%;
}

.section-post {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
}

.post-header {
	display: inline-block;
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		z-index: -1;
		background-color: $gray-6;
		visibility: hidden;
		transform: translate(0px,2px);
		opacity: 0;
		backface-visibility: hidden;
		transition: all .15s ease-in-out;
	}
}

.post-header:hover:before,
.post-header:focus:before,  {
	visibility: visible;
	opacity: 1;
	transform: translate(0px,0);
}

.post-text {
	width: 80%;
	order: 2;
}

.post-image {
	width: 15%;
	padding-bottom: 15%;
	height: 100%;
	background: 50% 50% / cover;
	order: 3;
}

.section-medium {
	margin-top: 1rem;
	display: inline-block;
}

@media (max-width: $phone) {
	.post-text {
		width: 100%;
	}

	.post-image {
		width: 100%;
		height: 7.5rem;
		margin: .5rem 0 1rem;
		order: 1;
	}
}

@media (min-width: $phone) {
	.section {
		margin-bottom: 6.25rem;
	}

	.section-project {
		width: 45%;
	}
}

@media (min-width: $tablet) {
	.section-input {
		width: 45%;
	}
}