.social {
	padding-top: 1.5rem;
	height: 6rem;
	background-color: $gray-90;
}

.social-logo {
	float: left;
}

.social-bear {
	width: 3rem;
	height: 3rem;
	transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
	&:hover, &:focus {
		-webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    transform: scale(1.2);
	}
}

.social-links {
	float: right;
	padding: 0.25rem 0;
}

.social-icon {
	height: 2.5rem;
	width: 2.5rem;
	padding: 0.5rem;
	fill: #fff;
	margin-left: 1.5rem;
	border: 2px solid transparent;
	transition: border 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
	&:hover, &:focus {
		border: 2px solid white;
	}
}

@media (max-width: $phone) {
	.social-links {
		padding: 0rem 0;
	}
	.social-icon {
		height: 3rem;
		width: 3rem;
	}
}