// Typography
/* Headings, body text, lists, and other misc typographic elements. */

h1, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-weight: $bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  font-family: $header;
}

h1 {
  font-size: 3.764rem;
}

h2 {
  font-size: 3.011rem;
  font-family: $ornamental;
  text-align: center;
}

h3 {
  font-size: 2.606rem;
}

h4 {
  font-size: 2.085rem;
}

h5 {
  font-size: 1.805rem;
}

h6 {
  font-size: 1.444rem;
}

h6.lead {
  font-weight: $normal;
  line-height: 1.75;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $body;
}

a {
  text-decoration: none;
}

a.link {
  color: $primary;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover,
  &:focus {
    background-color: $primary;
    color: #fff;
  }

  strong {
    color: inherit;
  }
}

.invert a.link {
  color: #fff;
  &:hover,
  &:focus {
    background-color: #fff;
    color: $primary;
  }
}

strong, .strong {
  font-weight: $bold;
}

.unstyle {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyle li {
  display: inline-block;
  margin-left: 0;
}