.footer {
	@include ctnr(golden);
	padding-top: vr(1);
	padding-bottom: vr(1);
}

.footer-text {
	@include font(small);
	text-align: center;
	color: palette(gray, dark);
	a {
		@include gradient-underline(90deg, gray, palette(gray, dark));
		color: palette(gray, dark);
	}
}