label {
	display: block;
	margin-top: vr(1);
}

input, textarea {
	@include font(body);
	padding: vr(.5) vr(1);
	border: 1px solid transparent;
	border-image: linear-gradient(to bottom right, palette(gray, lighter), palette(gray, lighter) 100%);
	border-image-slice: 1;
	background-color: #fff;
	outline: none;
	margin: vr(.5) 0;
	width: 100%;
	text-align: left;
	width: 100%;
	resize: none;
	transition: all 0.15s ease-in-out;
	&:focus,
	&:active,
	&:hover {
		border-image: linear-gradient(to bottom right, palette(pink), palette(orange) 100%);
		border-image-slice: 1;
	}
}

textarea {
	resize: vertical;
}

.button {
	display: block;
	outline: none;
	border: none;
	font-family: $sans;
	padding: 0;
	text-decoration: none;
	background-color: #fff;
}