// ==== NAVIGATION ==== //

/* Style the navigation here. */

/**
 * 1. Variables
 * 2. Container
 * 3. Elements
 * 4. Themes
 * 5. Headroom
 */



// 1. Variables //

$text-dark: palette(gray, dark);
$text-light: palette(white);



// 2. Container //

.navigation-large {
	display: none;
}

.navigation-small {
	display: block;
	position: absolute;
	left: vr(1);
	height: 21px;
	bottom: 9rem;
	transform: rotate(90deg);
	transform-origin: left bottom;
	z-index: 100;
}

@include mappy-bp(small) {

	.navigation-small {
		display: none;
	}

	.navigation-large {
		position: fixed;
		bottom: 0;
		left: 0;
		padding: 12px 0 16px;
		display: block;
		margin: 0 auto;
		list-style: none;
		text-align: center;
		width: 100vw;
		box-shadow: 0 0 1px 0 transparent;
	}
}



// 3. Elements //

.navigation-link {
	@include font(header3);
	@include link-underline();
	
	color: $text-dark;
	transition: $short;

	&:after {
		height: 3px;
        background-color: transparent;
	}

	&:hover {
		color: $text-dark;
	}

	&:hover:after {
		background-color: $text-dark;
	}
}

@include mappy-bp(small) {

	.navigation-item {
		margin: 0 vr(.75);
		padding: 0;
		display: inline-block;
	}
}



// 4. Themes //

/* Light theme */

.headroom--top #navigation.-light .navigation-link {
	color: $text-light;

	&:hover:after {
		background-color: $text-light;
	}
}



// 5. Headroom //

@include mappy-bp(small) {

	.headroom .navigation-large {
		z-index: 9999;
		transition: transform $long, padding $long, background-color $long;
	}

	.headroom--not-top .navigation-large {
		box-shadow: 0 0 1px 0 palette(gray, light);
		background-color: palette(white);
	}

	.headroom--pinned .navigation-large {
		transform: translateY(0%);
	}

	.headroom--unpinned .navigation-large {
		transform: translateY(100%);
	}
}