.nav-large {
	display: none;
}

.nav-small {
	display: block;
	position: absolute;
	left: vr(1);
	height: 21px;
	bottom: 9rem;
	transform: rotate(90deg);
	transform-origin: left bottom;
}

.nav-link {
	@include font(header3);
	color: palette(gray, dark);
	position: relative;
	z-index: 100;
	transition: color $short;
	&:before {
	    background: linear-gradient(45deg, palette(pink), palette(orange));
	    content: '';    
	    display: block;
	    height: 100%;
	    position: absolute;
	    top: 0; left: 0;
	    opacity: 0;
	    width: 100%;
	    z-index: -100;
	    transition: opacity $short;
	}
	&:hover,
	&:focus {
		color: #fff;
		&:before {
			opacity: 1;
		}
	}
}

@include mappy-query(desktop) {
	.nav-small {
		display: none;
	}
	.nav-large {
		position: fixed;
		bottom: 0;
		left: 0;
		padding: vr(1) 0;
		display: block;
		margin: 0 auto;
		list-style: none;
		text-align: center;
		width: 100vw;
	}
	.nav-item {
		margin: 0 vr(.5);
		padding: 0;
		display: inline-block;
	}
	.headroom .nav-large {
		z-index: 9999;
		transition: transform $long, padding $long, background-color $long;
	}

	.headroom--not-top .nav-large {
		background-color: rgba(255, 255, 255, 0.9);
		padding: vr(.5) 0;
	}

	.headroom--pinned .nav-large {
		transform: translateY(0%);
	}

	.headroom--unpinned .nav-large {
		transform: translateY(100%);
	}
}