.social {
	@include ctnr(wide);
	padding-top: vr(0.5);
  	padding-bottom: vr(0.5);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.9);
	@include mappy-query(phone) {
		padding-right: vr(1);
    	padding-left: vr(1);
	}
}

.social-logo {
	float: left;
}

.social-links {
	float: right;
}

.social-icon {
	padding: 12px;
	margin-left: 24px;
}

.social-print,
.social-icon {
	width: 48px;
	height: 48px;
	transition: transform 0.1s ease-out, fill 0.1s ease-out;
	fill: palette(gray, dark);
	&:hover,
	&:focus {
		transform: scale(1.25);
	    fill: url(#svg-gradient-hover);
	}
}

.headroom .social {
  	position: fixed;
  	transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.headroom--top .social {
  	padding-top: vr(1);
  	padding-bottom: vr(1);
  	background-color: transparent;
}

.headroom--pinned .social,
.headroom--unpinned.headroom--bottom .social {
  	transform: translateY(0%);
}

.headroom--unpinned .social {
  	transform: translateY(-100%);
}