<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>
	<div class="body-wrapper">
		{% include social.html %}

		{{ content }}

		<footer id="footer" class="invert">
			<div class="footer-content ctnr-golden">
				<h6>*dig·it·al no·mad <span class="footer-phonetic"> /ˈdijidl  ˈnōˌmad/</span></h6>
				<p class="footer-definition">Digital nomads are people who are location independent and use technology to perform their job. <a class="link strong" href=" https://www.wikiwand.com/en/Digital_nomad">Learn more →</a>
				<p class="footer-legal">&copy; {{ site.time | date: '%Y' }} Connor Bär. All rights reserved.</p>
			</div>
		</footer>

	    {% include analytics.html %}
    </div>
</body>
</html>
